.header{
    width: 100vw;
    height: 100px;
    background-color: rgba(34, 34, 34, 0.692);
    display: flex;
    font-family: "Abril Fatface","Times New Roman",Times,serif;
    position:fixed;
    z-index: 5;
    

}
.logoHeader{
    width:28%;
    height: 100%;
    display: flex;
    
    align-items: center;
  
}
.logoHeader ion-icon{
    width:40%;
    font-size: 100px;
    color: rgb(193, 255, 70);
    
}
.logoHeader h1{
    width:50%;
    color: #e2e2e2;
    border-right: solid greenyellow ;
    padding:0 4%;
    padding-right: 5px;
}