.aboutus{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.subtitle{
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.imgMain{
    width: 80vw;
    height: 18rem;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.txt{
    width: 80%;
    color:#fff
}