.menu{
    width: 100%;

}
.menu ul{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;


}
.menu ul li{
    width: auto;
    height: 50px;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    

}
li:hover >h2{
    color:rgb(0, 102, 255);

}