

.imgInicio{
  margin:0px auto 0px;
  width: 100%;
  height: 60vh;
  background-image: url('https://i.pinimg.com/originals/d6/49/48/d64948463ed288a6105c49177316ef1e.jpg');
  background-size: cover;
  
 
}
.filtro{
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.527) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filtro{
  font-size:25px;
  color: azure;
}


.infoGray{
    width: 100%;
    height: 50vh;
    background: rgba(52, 52, 52, 1.0);
    background: linear-gradient(250deg, rgb(20, 20, 20), rgb(8, 107, 114));
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    gap: 40px;;
    
}
.infoGray img {
    width: 30%;
    margin-left: 15%;
    border-radius: 20px;

}

.infoGray .containerInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.infoGray .containerInfo h3{
    font-size:30px;
    color: rgb(47, 255, 220);
}
.infoGray .containerInfo p{
    width: 50%;
    font-size:20px;
    color: #c7c7c7;
}
.infoGray .containerInfo h5{
    font-size: 15px;
    width: 40%;
    color: gray;
    border-bottom:solid greenyellow;
}

.containerPlaces{
    width: 100%;
    margin-top: 40px ;
   
    height:auto;
    margin-bottom: 20px;
}
.containerPlaces h2{
    width: 80%;
    font-size: 35px;
    padding-left:10px ;
    color: rgb(212, 212, 212);
    border-top: solid rgb(36, 204, 255);
    margin: 0 auto;
}
.containerPlaces h4{
    width: 80%;
    font-size: 25px;
    color: gray;
    padding-left:10px ;
    margin: 0 auto;
}

.containerItems{
    margin: 60px auto;
    width: 90%;
    height: auto;
    display: flex;
    justify-content:space-between;
    padding: 5px;
   
    flex-wrap: wrap;
    padding: 10px;
}
.item{
    width: 23%;
    height: auto;

    padding: 8px;
    margin-top: 10px;
    transition: all 0.6s;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;   
}
.BtnEmpieza{
  margin-right: 50px;
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  background-color: rgb(255, 167, 66);
  border: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.BtnEmpieza:hover{
  background-color: rgb(255, 168, 68)

}
.item:hover{
   
    box-shadow: 0px 3px 8px  rgba(41, 41, 41, 0.534);
    transform: scale(1.01);
    background-color: rgb(253, 189, 69);
}


.item img{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
    height:200px;
    transition: all 0.5s;
}
.item:hover > img{
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;

}
.infoPlaces{
  width: 100%;
  height: auto;
}
.item h3{
    font-size: 20px;
    color: rgb(44, 44, 44);
}
.item .infoPlaces .stars  {
    color: rgb(192, 192, 0);
    height:20px;
}
.item .infoPlaces h5{
    width:90%;
    height: 60px;

    margin: 0 auto;
    font-size: 15px;
    color: rgb(128, 128, 128);
}
.containerSubs{
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=343434&c2=066369&gt=l&gd=dcl
*/
background: rgba(52, 52, 52, 1.0);
background: linear-gradient(300deg, rgba(52, 52, 52, 1.0), rgba(66, 57, 155, 0.911));
   width: 100%;
   height: auto;
   padding: 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap:80px;
}

.sub{
   width: 20%;
   height:auto;
   background-color:rgba(100, 100, 100, 0.164);
   border-radius: 10px;
   text-align: center;
   transform: rotate3d(2, -1, -1, -0.08turn);
   transition: all 0.2s;
}
.sub:hover{
   transform: rotate3d(1, 1, 1, 0turn)
  
}
.headerSub{
   width: 100%;
   height:auto;
   border-top-left-radius:10px ;
   border-top-right-radius:10px ;
   padding: 20px ;
   background-color:rgb(230, 253, 25);
}
.sub1{
   width: 100%;
   height:auto;
   border-top-left-radius:10px ;
   border-top-right-radius:10px ;
   padding: 20px ;
   background-color:rgb(255, 63, 63);
   
}
.sub2{
   width: 100%;
   height:auto;
   border-top-left-radius:10px;
   border-top-right-radius:10px;
   padding: 20px ;
   background-color:rgb(236, 81, 241);
}
.headerSub ion-icon,.sub1  ion-icon, .sub2 ion-icon{
   font-size: 50px;
   color: rgb(71, 71, 71);
}
.sub h3{
   font-size:28px;
   margin-top: 18px;
   color: rgb(39, 122, 248);
}
.sub .listSub{
   list-style: none;
   margin-top:10px;
   font-size: 15px;
   color: aliceblue;
}
.sub .buttonSub{
   background-color:rgb(230, 253, 25);
   height: 35px;
   color: black;
   margin: 20px auto;
}
.sub .btnSub1{
   background-color:rgb(255, 63, 63);
   height: 35px;
   color: black;
   margin: 20px auto;
}

.containerSubs .sub .btnSub1,
.containerSubs .sub .btnSub2,
.containerSubs .sub .buttonSub{
   width: auto;
   padding: 2px 5px;
   height: 35px;
   border-radius: 5px;
   border: none;
   font-size: 20px;
   color: rgb(41, 41, 41);
   cursor: pointer;
}

.containerSubs .sub .btnSub1:hover{
  background-color:rgb(247, 36, 36);

}
.containerSubs .sub .btnSub2:hover{
  background-color:rgb(247, 123, 252);

}
.containerSubs .sub .buttonSub:hover{
  background-color:rgb(219, 235, 74)
   

}

.sub .btnSub2{
   background-color:rgb(236, 81, 241);
   height: 35px;
   color: black;
   margin: 20px auto;
}
