

.imgInicio{
  margin:0px auto 0px;
  width: 100%;
  height: 70vh;
  background-image: url('https://i.pinimg.com/originals/d6/49/48/d64948463ed288a6105c49177316ef1e.jpg');
  background-size: cover;
  
 
}
.button {
  border: none;
  margin:20px 0 0 0px;
  width: 260px;
  height: 38px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffcf32;
  transition: all 1000ms;
  font-size: 15px;
  overflow: hidden;
  outline: 2px solid #fda623;
  background-color: #ffffff;
}

.button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ffcc23;
  box-shadow: 4px 5px 17px -4px #ffb923;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ffc421;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}
@keyframes show {
  0%{
      transform: translateY(-1000px)
  }
  100%{
      transform: translateX(0px)

  }
  
}
.filtro{
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.527) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h2{
  color: orange;
}
.h3{
  width: 70%;
  font-size: 25px;
  text-align: center;
  padding-bottom:15px ;
}
.filtro{
  font-size:25px;
  color: azure;
}


.infoGray{
    width: 100%;
    height: 400px;
    background: rgba(52, 52, 52, 1.0);
    background: linear-gradient(250deg, rgb(20, 20, 20), rgb(8, 107, 114));
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    gap: 40px;;
    
}
.infoGray .imgInicio {
    width: 30%;
    height: 98%;
    margin-left: 15%;
    border-radius: 20px;

}

.infoGray .containerInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.infoGray .containerInfo h3{
    font-size:30px;
    color: #ffb61a;
}
.infoGray .containerInfo p{
    width: 50%;
    font-size:20px;
    color: #c7c7c7;
}
.infoGray .containerInfo h5{
    font-size: 15px;
    width: 40%;
    color: gray;
    border-bottom:solid rgb(255, 167, 66);
}

.containerPlaces{
    width: 100%;
    margin-top: 40px ;
   
    height:auto;
    margin-bottom: 20px;
}
.containerPlaces h2{
    width: 80%;
    font-size: 35px;
    padding-left:10px ;
    color: rgb(212, 212, 212);
    border-top: solid rgb(255, 167, 66);
    margin: 0 auto;
}
.containerPlaces h4{
    width: 80%;
    font-size: 25px;
    color: gray;
    padding-left:10px ;
    margin: 0 auto;
}

.containerItems{
    margin: 60px auto;
    width: 94%;
    height: auto;
    display: flex;
    justify-content:space-between;
    padding: 5px;
   
    flex-wrap: wrap;
    padding: 10px;
}
.item{
    width: 23%;
    height: auto;

    padding: 8px;
    margin-top: 10px;
    transition: all 0.6s;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;   
}
.BtnEmpieza{
  margin-right: 50px;
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  background-color: rgb(255, 167, 66);
  border: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.BtnEmpieza:hover{
  background-color: rgb(255, 168, 68)

}
.item:hover{
   
    box-shadow: 0px 3px 8px  rgba(41, 41, 41, 0.534);
    transform: scale(1.01);
    background-color: rgb(253, 189, 69);
}



.card {
  position: relative;
  width: 270px;
  height: 270px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  
  border:1px solid #3f3f3f;
}

.imgCard{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
    /* edit the width to fit card */
  width: 100%;
  padding: 10px 20px;
  background: #ffffff;
  border-top-left-radius: 20px;
  
    /* edit here to change the height of the content box */
  transform: translateY(140px);
  transition: transform .5s;
}

.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #ffffff;
}

.card_title {
  color: #fdb122;
  font-size: 20px;
  max-width: 90%;
  max-height: 45px;
  line-height: 10px;
  margin-bottom: 8px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  color: #7a7a7a;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  max-width: 90%;
  min-height: 130px;
  transition: opacity .5s;
  color: #3f3f3f;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}





.containerSubs{
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=343434&c2=066369&gt=l&gd=dcl
*/
background: rgb(27, 27, 27);
background: linear-gradient(300deg, rgba(52, 52, 52, 1.0), rgba(112, 112, 112, 0.651));
   width: 100%;
   height: auto;
   padding: 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap:80px;
}

.sub{
   width: 20%;
   height:auto;
   background-color:rgba(100, 100, 100, 0.164);
   border-radius: 10px;
   text-align: center;
   transform: rotate3d(2, -1, -1, -0.08turn);
   transition: all 0.2s;
}
.sub:hover{
   transform: rotate3d(1, 1, 1, 0turn)
  
}
.headerSub{
   width: 100%;
   height:auto;
   border-top-left-radius:10px ;
   border-top-right-radius:10px ;
   padding: 20px ;
   background-color:rgb(255, 167, 66);
}
.sub1{
   width: 100%;
   height:auto;
   border-top-left-radius:10px ;
   border-top-right-radius:10px ;
   padding: 20px ;
   background-color:rgb(255, 63, 63);
   
}
.sub2{
   width: 100%;
   height:auto;
   border-top-left-radius:10px;
   border-top-right-radius:10px;
   padding: 20px ;
   background-color:rgb(236, 81, 241);
}
.headerSub ion-icon,.sub1  ion-icon, .sub2 ion-icon{
   font-size: 50px;
   color: rgb(71, 71, 71);
}
.sub h3{
   font-size:28px;
   margin-top: 18px;
   color: rgb(255, 167, 66);
}
.sub .listSub{
   list-style: none;
   margin-top:10px;
   font-size: 18px;
   color: aliceblue;
}
.sub .buttonSub{
   background-color:rgb(255, 167, 66);
   height: 35px;
   color: black;
   margin: 20px auto;
}
.sub .btnSub1{
   background-color:rgb(255, 63, 63);
   height: 35px;
   color: black;
   margin: 20px auto;
}

.containerSubs .sub .btnSub1,
.containerSubs .sub .btnSub2,
.containerSubs .sub .buttonSub{
   width: auto;
   padding: 2px 5px;
   height: 35px;
   border-radius: 5px;
   border: none;
   font-size: 20px;
   color: rgb(41, 41, 41);
   cursor: pointer;
}

.containerSubs .sub .btnSub1:hover{
  background-color:rgb(247, 36, 36);

}
.containerSubs .sub .btnSub2:hover{
  background-color:rgb(247, 123, 252);

}
.containerSubs .sub .buttonSub:hover{
  background-color:rgb(219, 235, 74)
   

}

.sub .btnSub2{
   background-color:rgb(236, 81, 241);
   height: 35px;
   color: black;
   margin: 20px auto;
}
