.section{
    width: 100vw;
    height: auto;
    background-color: rgb(255, 251, 240);
}
.containerCarousel{
    margin:20px auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;
    
   
}
.containerCarousel h1{
    width: 70%;
    margin: 20px auto;
    border-top: solid rgb(122, 122, 122);
    color: rgb(255, 103, 103);
}
.containerCarousel .carousel-container{
    margin:20px auto;
    width: 50%;

    height:300px;
    border-radius: 10px;
    scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.carousel-container .carousel{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 800%; /* Ajusta la anchura según el número de imágenes */
   
    
    animation:  carousel 80s steps(1) infinite    ;
    
}
.carousel li {
    width: 12.5%;
  }
.title_carrusel{
    position: absolute;
    
    
    z-index: 1;
    
    
    border-radius: 20px;
    text-align: center;
    padding-top: 40px;
}
.title_carrusel h2{
    color: #2d6efc;
    font-size: 28px;
}
.title_carrusel p{
    color: #e7e7e7;
    font-size: 23px;
    width: 50%;
}
  
  .carousel img {
    display: block;
    width: 100%;
    border-radius: 20px;
    height: 300px;
  }
  
  @keyframes carousel {
    0% {
        transform: translateX(-0%);
      }
      6.7% {
        transform: translateX(-12.5%);
      }
      13.4% {
        transform: translateX(-25%);
      }
      20.1% {
        transform: translateX(-37.5%);
      }
      26.8% {
        transform: translateX(-50%);
      }
      
      33.5% {
        transform: translateX(-62.5%);
      }
      40.2% {
        transform: translateX(-75%);
      }
    46.9% {
      transform: translateX(-87.5%);
    }53.6% {
        transform: translateX(-75%);
    }
    60.3% {
        transform: translateX(-62.5%);
    }
    67% {
        transform: translateX(-50%);
      }
      73.7% {
        transform: translateX(-37.5%);
      }
      80.4% {
        transform: translateX(-25%);
      }
      87.1% {
        transform: translateX(-12.5%);
      }
    100% {
        transform: translateX(0%);
    }
    
    
  }

.infoGray{
    width: 100%;
    height: 400px;
    background-color:rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    gap: 40px;;
    
}
.infoGray img {
    width: 30%;
    margin-left: 15%;
    border-radius: 20px;

}

.infoGray .containerInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.infoGray .containerInfo h3{
    font-size:30px;
    color: rgb(47, 255, 220);
}
.infoGray .containerInfo p{
    width: 50%;
    font-size:20px;
    color: #fff;
}
.infoGray .containerInfo h5{
    font-size: 15px;
    width: 40%;
    color: gray;
    border-bottom:solid greenyellow;
}

.containerPlaces{
    width: 100%;
    margin-top: 40px ;
   
    height: auto;
}
.containerPlaces h2{
    width: 80%;
    font-size: 35px;
    padding-left:10px ;
    border-top: solid rgb(36, 204, 255);
    margin: 0 auto;
}
.containerPlaces h4{
    width: 80%;
    font-size: 25px;
    color: gray;
    padding-left:10px ;
    margin: 0 auto;
}

.containerItems{
    margin: 60px auto;
    width: 90%;
    height: auto;
    display: flex;
    justify-content:space-between;
    padding: 5px;
    flex-wrap: wrap;
}
.item{
    width: 23%;
    padding: 8px;
    transition: all 0.3s;
}
.item:hover{
    border-radius: 15px;
    box-shadow: 0px 3px 8px  rgba(128, 128, 128, 0.534);
}

.item img{
    border-radius: 10px;
    height: 170px;
}
.item h3{
    
    font-size: 20px;
    color: rgb(73, 56, 56);
}
.item .stars ion-icon{
    color: rgb(233, 233, 61);
}
.item h5{
    width:50%;
    font-size: 15px;
    color: gray;
}