.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
}

.title{
    color: #fff;
    font-size: 3rem;
    margin: 10px;
}
table{
    width: 90%;
}

.subTitle{
    color: #ebeff5;
    background-color: #854040;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

.row{
    background-color: #f0f8ff;
    width: 100vw;
}

.row2{
    background-color: #f3f3f3;
}

.item{
    color: #7a7e82;
    white-space: pre;
    font-size: 2rem;
    border: none;
}