.ads{
    width: 100%;
    height: 60px;
    background-color: #f8d92ade;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ads a{
    font-size: 15px;
    width: auto;
    animation: ads  infinite ease-in-out;
    animation-delay: 0.1s;
    animation-duration: 20s;
    animation-play-state: running;
    color: rgb(68, 68, 68);
    }

    .ads a:hover{
    animation-play-state: paused;
    text-decoration: underline;
    }

    @keyframes ads {
        0%{
            transform:translateX(-110%)
        }
        
        100%{
            transform:translateX(110%)
        }
    
    }

.footerCafeteria{
    width: 100%;
    height: auto;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
}

.itemsFooter{
    width:auto;
    text-align: center;
    height: 120px;
    overflow: hidden;
}

.itemsFooter h3{
    color:#ad4747;
    margin-bottom: 10px;
}

.itemsFooter h4{
    color:#ad4747;
}

.itemsFooter h4 span{
    margin-top: 10px;
    font-weight:lighter;
    margin-bottom: 0;
}

.itemsFooter p{
    color:#833636;
}

.iconsFooter{
    width: auto;
    display: flex;
    justify-content: center;
    gap:10px;
    font-size: 35px;
    height: 100px;
    color:rgb(131, 54, 54)
}

.iconsFooter .footerLogo:nth-child(1):hover{
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    color: rgb(24, 24, 24);
    border-radius: 50%;
}

.iconsFooter .footerLogo:nth-child(2):hover{
    padding: 10px;
    background-color: white;
    color: rgb(69, 66, 238);
    border-radius: 50%;
}

.iconsFooter .footerLogo:nth-child(3),.footerLogo:nth-child(2),.footerLogo:nth-child(1){
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}

.iconsFooter .footerLogo:nth-child(3):hover{
    padding: 10px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
    border-radius: 50%;
}

